<section ng-controller="ExampleController">
	<div data-ng-show="!authentication.user">
		<a href="/signup">Signup</a>
		<a href="/signin">Signin</a>
	</div>
	<div data-ng-show="authentication.user">
		<h1>Hello <span data-ng-bind="authentication.user.username"></span></h1>
		<a href="/signout">Signout</a>
		<ul>
			<li><a href="/#!/articles">List Articles</a></li>
			<li><a href="/#!/articles/create">Create Article</a></li>
		</ul>
	</div>
</section>