
<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <section ng-view></section>

        <script type="text/javascript">
            window.user = <%- user || 'null' %>
        </script>

        <br />
        <img src="images/sample_image_1.jpg" alt="logo">
        <script type="text/javascript" src="/lib/angular/angular.js"></script>
        <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
        <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>

        <script type="text/javascript" src="/articles/articles.client.module.js"></script>
        <script type="text/javascript" src="/articles/controllers/articles.client.controller.js"></script>
        <script type="text/javascript" src="/articles/services/articles.client.service.js"></script>
        <script type="text/javascript" src="/articles/config/articles.client.routes.js"></script>

        <script type="text/javascript" src="/example/example.client.module.js"></script>
        <script type="text/javascript" src="/example/controllers/example.client.controller.js"> </script>
        <script type="text/javascript" src="/example/config/example.client.routes.js"></script>

        <script type="text/javascript" src="/users/users.client.module.js"></script>
        <script type="text/javascript" src="/users/services/authentication.client.service.js"></script>

        <script type="text/javascript" src="/application.js"></script>
    </body>
</html>


